node_modules/
vendor/
.env
.env.local
.env.*.local
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
.phpunit.result.cache
npm-debug.log
yarn-error.log
.idea/
.vscode/
*.swp
*.swo
.git/
tests/
public/build/
public/hot
public/storage
Dockerfile
docker-compose*.yml
*.md
